@font-face {
    font-family: "Normal";  
    src: url("../home1/fonts/AlumniSans-ExtraLight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

body{
    font-family: 'Kaisei Opti', serif;
}


.lyrics{
    width: 300px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.chorus{
    font-family: Normal;
    font-size: 30px;
}