
  * {
    margin: auto;
    text-align: left;
    font-family: "Roboto Condensed";
  }
  
  body {
    display: flex;
    justify-content: center;
    height: 98vh;
    align-items: center;
  }
  
  td {
    padding: 5px;
  }
  
  tr {
    padding-top: 10px;
  }
  
  img.view {
    width: 15px;
    padding: 0 5px;
  }
  
  p {
    font-family: "Arial";
    
  }
  
  table {
    padding-top: 10px;
  }
  
  h2 {
    padding-top: 10px;
  }
  #text {
    padding-left: 5px;
  }
  
  .container-unic {
    margin: 20% 100px 0 100px;
  }
  
  img#unic {
    width: 800px;
    padding: 40px 0;
  }
  
  p.align {
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: green;
  }
  
  table {
    margin: 20px;
  }
  
  a:hover {
    color: orange;
  }
  