table {
    border-collapse: collapse;
    width: 100%;
}
.MainTitle {
    font-size: 25px;
    height: 3cm;
    background-color: #ADD8E6;
    color: #7676f0;
}
.SportsList {
    width: 250px;
    background-color:#F0E68C ;
    color: black;
    padding: 10px;
    padding-right: 20px;

    
}
.SportsList div{
    margin-top: 20px;
    margin-left: 14px;
    font-weight: bold;
    color: black;
}
.Page {
    background: 
    url('img/ball.png') repeat-y right top;
    margin: 10px;
}
.tr {
    vertical-align: top; 
    font-size: 1em; 
}
.FootBallTitle{ 
    margin-top: 30px;
    font-weight: bold;
    

}
.Page img{
    float: left;
    
    margin: 18px;
    padding: 0px;
    margin-right: 40px;
}
.MmainTtextFoo{
    
    margin: 15px; 
    
}